/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - General
  1.3 - Icon Font
2.0 - Elements
3.0 - Forms
4.0 - Media
  4.1 - Captions
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	@include box-sizing(border-box);
}
.mce-content-body {
	max-width: 746.5px;
	margin: 2rem;
}

/*--------------------------------------------------------------
1.0 - Typography
--------------------------------------------------------------*/
@import "typography/typography-editor";

/*--------------------------------------------------------------
2.0 - Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
3.0 - Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
4.0 - Media
--------------------------------------------------------------*/
@import "media/media-editor";