.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: 768px) {
		width: 750px;
	}

	@media screen and (min-width: 992px) {
		width: 970px;
	}

	@media screen and (min-width: 1200px) {
		width: 1170px;
	}
}

#content-area {
	margin-right: -15px;
	margin-left: -15px;
}

#primary,
#secondary {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;

	@media screen and (min-width: 768px) {
		margin-top: 1.5em;
	}
}

#primary {
	@media screen and (min-width: 768px) {
		float: left;
		width: 66.66666667%;
	}

	@media screen and (min-width: 992px) {
		float: left;
		width: 75%;
	}

	.page-template-page-fullwidth & {
		float: none;
		width: 100%;
	}
}

#secondary {
	@media screen and (min-width: 400px) and (max-width: 767px) {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}

	@media screen and (max-width: 767px) {
		margin-top: 3em;
	}

	@media screen and (min-width: 768px) {
		float: left;
		width: 33.33333333%;
	}

	@media screen and (min-width: 992px) {
		float: left;
		width: 25%;
	}
}

@media screen and (min-width: 768px) {
	.sidebar-left #primary {
		float: right;
	}

	.sidebar-left #secondary {
		float: left;
	}
}

.page-header {
	margin-bottom: 1em;
}

#colophon {
	margin-bottom: 10px;
}

#poweredby {
	color: #cdcdcd;
	@include font-size-small;

	a {
		color: #cdcdcd;
		font-weight: $font__weight-bold;
	}
}

/*--------------------------------------------------------------
7.1 Posts and pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
7.2 Post Formats
--------------------------------------------------------------*/
@import "post-formats";

/*--------------------------------------------------------------
7.3 Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
7.4 Widgets
--------------------------------------------------------------*/
@import "widgets";