@media screen and (min-width: 768px) {
	.sidebar-left #primary {
		float: right;
	}

	.sidebar-left #secondary {
		float: left;
	}
}

.page-template-page-fullwidth #primary {
	float: none;
	width: 100%;
}