.penguin-post {
	background-color: #fff;
	border-top: 3px solid rgba(145, 145, 145, 0.4);
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ddd;
	box-shadow: 1px 2px 4px rgba(160, 160, 160, 0.2);
	margin-bottom: 1em;
	padding: 5px 0;
	position: relative;
	width: 100%;

	@media screen and (min-width: 600px) and (max-width: 991px) {
		padding: 15px 0;
	}

	@media screen and (min-width: 992px) {
		padding: 25px 0;
	}

	@media screen and (min-width: 1200px) {
		width: 49%;
	}

	&.sticky,
	.single &,
	.page &,
	&:only-of-type {
		width: 100%;
	}

	.page-transparent-fullwidth & {
		background: transparent;
		border: 0;
		box-shadow: none;
		padding: 0;
	}
}

.has-headerimg .has-post-thumbnail {
	border-top: none;
	margin-top: -40px;

	@media screen and (min-width: 600px) and (max-width: 991px) {
		margin-top: -50px;
	}

	@media screen and (min-width: 992px) {
		margin-top: -80px;
	}
}

.has-headerimg .page-transparent-fullwidth .has-post-thumbnail {
	margin-top: 0;

	@media screen and (min-width: 992px) {
		margin-top: 2.5em;
	}
}

.single .penguin-post {
	margin-bottom: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-title,
.entry-summary,
.entry-content,
.entry-meta-top,
.entry-meta-bottom {
	margin-left: 10px;
	margin-right: 10px;

	@media screen and (min-width: 600px) and (max-width: 991px) {
		margin-left: 20px;
		margin-right: 20px;
	}

	.page-transparent-fullwidth & {
		margin-left: 0;
		margin-right: 0;
	}
}

.entry-summary,
.entry-content {
	margin-top: .5em;
	margin-bottom: .5em;
}

.entry-meta-top div {
	margin: 2px 0;
}

.entry-meta-top div {
	display: inline-block;
}

.author_info_box {
	@include font-size-small;
	margin-top: 2em;

	.author_name {
		font-weight: bold;
	}

	img {
		float: left;
		margin: 0 15px 3px 0;
		padding: 5px 0 0 0px;

		@media screen and (max-width: 991px) {
			margin-right: 10px;
			width: 90px;
		}
	}
}

@media screen and (min-width: 992px) {
	.entry-title,
	.entry-summary,
	.entry-content,
	.entry-meta-top,
	.entry-meta-bottom,
	.search .page .entry-title,
	.search .page .entry-summary,
	.search .page .entry-content,
	.search .page .entry-meta-top,
	.search .page .entry-meta-bottom {
		margin-left: 30px;
		margin-right: 30px;

		.page-transparent-fullwidth & {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	.single .penguin-post,
	.page .penguin-post,
	.sticky.penguin-post,
	.penguin-post:only-of-type {
		padding: 40px 0;
		
		.page-transparent-fullwidth & {
			padding: 0;
		}
	}

	.single .entry-title,
	.single .entry-summary,
	.single .entry-content,
	.single .entry-meta-top,
	.single .entry-meta-bottom,
	.page .entry-title,
	.page .entry-summary,
	.page .entry-content,
	.page .entry-meta-top,
	.page .entry-meta-bottom,
	.sticky .entry-title,
	.sticky .entry-summary,
	.sticky .entry-content,
	.sticky .entry-meta-top,
	.sticky .entry-meta-bottom,
	.penguin-post:only-of-type .entry-title,
	.penguin-post:only-of-type .entry-summary,
	.penguin-post:only-of-type .entry-content,
	.penguin-post:only-of-type .entry-meta-top,
	.penguin-post:only-of-type .entry-meta-bottom {
		margin-left: 50px;
		margin-right: 50px;

		.page-transparent-fullwidth & {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.blog .has-post-thumbnail,
.search .has-post-thumbnail,
.archive .has-post-thumbnail {
	border-top: none;
	padding-top: 0;
}