.format-aside .entry-title,
.format-quote .entry-title,
.format-quote .entry-meta-bottom,
.format-link .entry-title,
.format-link .entry-meta-bottom,
.format-video .entry-title,
.format-video .entry-meta-bottom,
.format-image .entry-title,
.format-image .entry-meta-bottom {
	display: none;
}
.single .format-aside .entry-title,
.single .format-quote .entry-title,
.single .format-quote .entry-meta-bottom,
.single .format-link .entry-title,
.single .format-link .entry-meta-bottom,
.single .format-video .entry-title,
.single .format-video .entry-meta-bottom,
.single .format-image .entry-title,
.single .format-image .entry-meta-bottom {
	display: block;
}
/* Post Format Quote */
article.format-quote {
	border-top: none;
}
/* Post Format Link */
article.format-link {
	background-color: $color__background-post-format-link;
	border: none;
	color: white;
}
article.format-link .entry-meta-top a {
	background-color: #fff;
}
article.format-link .entry-content a {
	background-color: #fff;
	font-size: 1.5em;
	line-height: 1;
}
article.format-link .entry-meta-top a:hover,
article.format-link .entry-meta-top a:focus,
article.format-link .entry-meta-top a:active,
article.format-link .entry-content a:hover,
article.format-link .entry-content a:focus,
article.format-link .entry-content a:active {
	background-color: $color__background-post-format-link;
	color: white;
}
article.format-link .entry-meta-bottom a {
	color: white;
	text-decoration: underline;
}
article.format-link .entry-meta-bottom a:hover,
article.format-link .entry-meta-bottom a:focus,
article.format-link .entry-meta-bottom a:active {
	text-decoration: none;
}
/* Post Formats Image & Video */
.blog .format-image,
.archive .format-image,
.blog .format-video,
.archive .format-video {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding-bottom: 0;
}
.blog .format-image .entry-header,
.archive .format-image .entry-header,
.blog .format-image .entry-content,
.archive .format-image .entry-content,
.blog .format-video .entry-header,
.archive .format-video .entry-header,
.blog .format-video .entry-content,
.archive .format-video .entry-content {
	margin: 0;
}