/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - General
  1.3 - Icon Font
2.0 - Elements
3.0 - Forms
4.0 - Media
  4.1 - Captions
--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	/* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll;
	/* Keeps page centered in all browsers regardless of content height */

	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	/* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mce-content-body {
	margin: 2rem;
	max-width: 746.5px;
}


/*--------------------------------------------------------------
1.0 - Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: Raleway, "Open Sans", sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.5;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}


/*--------------------------------------------------------------
2.1 - Headings
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

h1 {
	font-size: 1.6em;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 992px) {
	h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 1200px) {
	h1.entry-title {
		font-size: 1.6em;
	}
}

@media screen and (min-width: 1200px) {
	.sticky h1.entry-title,
	.penguin-post:only-of-type h1.entry-title {
		font-size: 2.5em;
	}
}

body.single h1.entry-title,
body.page h1.entry-title {
	font-size: 2em;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	body.single h1.entry-title,
	body.page h1.entry-title {
		font-size: 2.3em;
	}
}

@media screen and (min-width: 992px) {
	body.single h1.entry-title,
	body.page h1.entry-title {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 1200px) {
	body.single h1.entry-title,
	body.page h1.entry-title {
		font-size: 3em;
	}
}

h1.entry-title,
h1.widget-title,
h1.page-title {
	margin-top: 0;
}

h1.entry-title {
	margin-bottom: 0.1em;
}

.search .page h1.entry-title {
	font-weight: 600;
}

.single h1.entry-title,
.page h1.entry-title {
	font-weight: 300;
}

.author h1.page-title {
	margin-bottom: 0;
}

h2 {
	font-size: 1.5em;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	h2 {
		font-size: 1.8em;
	}
}

@media screen and (min-width: 992px) {
	h2 {
		font-size: 1.8em;
	}
}

h3 {
	font-size: 1.4em;
}

@media screen and (min-width: 992px) {
	h3 {
		font-size: 1.6em;
	}
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.85em;
	letter-spacing: 1px;
}


/*--------------------------------------------------------------
2.2 - General
--------------------------------------------------------------*/

p {
	margin-bottom: 0.5em;
}

p:last-of-type {
	margin-bottom: 0;
}

b,
strong {
	font-weight: 600;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 2px solid #bcbcbc;
	font-style: italic;
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: inherit;
	line-height: 1.5;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
}

code,
kbd,
tt,
var {
	font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: inherit;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 0.75em;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

small,
.small {
	font-size: 0.85em;
}

@media screen and (min-width: 992px) {
	small,
	.small {
		font-size: 0.75em;
	}
}

big,
.big {
	font-size: 1.2em;
}


/*--------------------------------------------------------------
2.0 - Elements
--------------------------------------------------------------*/

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 0.5em 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

#primary li {
	margin: 0.5em 0;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

.author-img img {
	float: left;
	margin: 7px 1em 0 0;
}

figure {
	margin: 0;
}

[class^="penguin-icon-"],
[class*=" penguin-icon-"] {
	display: inline-block;

	fill: currentColor;
}

.penguin-icon-category {
	height: 18px;
	margin-left: -2px;
	vertical-align: text-bottom;
	width: 18px;
}

.penguin-icon-tag {
	height: 16px;
	vertical-align: text-bottom;
	width: 16px;
}

.penguin-icon-menu {
	height: 30px;
	width: 30px;
}

.penguin-icon-search,
.penguin-icon-backtotop {
	height: 60px;
	width: 25px;
}

.penguin-icon-search {
	position: absolute;
}

@media screen and (max-width: 600px) {
	.penguin-icon-search {
		color: #404040;
		height: 45px;
		left: 15px;
	}
}

.penguin-icon-backtotop {
	width: 30px;

	fill: #fff;
}

.bright-navbar .penguin-icon-backtotop {
	fill: #404040;
}

.penguin-icon-dropdown {
	height: 12px;
	margin-left: 4px;
	vertical-align: middle;
	width: 12px;
}

table {
	margin: 0 0 1.5em;
	max-width: 100%;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #ddd;
	line-height: 1.42857143;
	padding: 6px;
	vertical-align: top;
}

table > thead > tr > th {
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

table > tbody + tbody {
	border-top: 2px solid #ddd;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

th {
	font-weight: bold;
}


/*--------------------------------------------------------------
3.0 - Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
	font-size: 100%;
	/* Corrects font size not being inherited in all browsers */
	margin: 0;
	/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline;
	/* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #e6e6e6;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* Corrects inability to style clickable 'input' types in iOS */
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	/* stops bg color from leaking outside the border: */
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	/* Improves usability and consistency of cursor style between image-type 'input' and others */
	font-size: 0.85em;
	line-height: 1;
	padding: 16px 25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	-webkit-appearance: button;
}

@media screen and (min-width: 992px) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		font-size: 0.75em;
	}
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #06c;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #06c;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	border-color: #06c;
	-webkit-box-shadow: 0 0 6px #06c;
	box-shadow: 0 0 6px #06c;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	/* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	/* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: content-box;
	/* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	/* stops bg color from leaking outside the border: */
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #666;
	padding: 10.5px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #06c;
	-webkit-box-shadow: 0 0 6px #06c;
	box-shadow: 0 0 6px #06c;
	color: #111;
}

textarea {
	overflow: auto;
	/* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top;
	/* Improves readability and alignment in all browsers */
	width: 100%;
}

textarea:focus,
input:focus {
	outline: 0;
}


/*--------------------------------------------------------------
4.0 - Media
--------------------------------------------------------------*/

/* Image shapes */
.img-rounded {
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.img-circle {
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.img-thumbnail {
	border: 3px solid #fff;
	-webkit-box-shadow: 0 1px 3px #ccc;
	box-shadow: 0 1px 3px #ccc;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.img-thumbnail:hover {
	-webkit-box-shadow: 0 1px 3px #404040;
	box-shadow: 0 1px 3px #404040;
}


/*--------------------------------------------------------------
5.1 Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0 1em;
}

.wp-caption-text {
	font-size: 0.85em;
	text-align: center;
}

@media screen and (min-width: 992px) {
	.wp-caption-text {
		font-size: 0.75em;
	}
}
