.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	margin: 1%;
	text-align: center;
	vertical-align: top;
	width: 100%;

	a img {
		border: 3px solid #fff;
		box-shadow: 0px 1px 3px #ccc;
		@include transition(.3);
	}

	a:hover img,
	a:active img, 
	a:focus img {
		box-shadow: 0px 1px 3px #404040;
	}
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
}

.gallery-columns-3 .gallery-item {
	max-width: 31.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
}

.gallery-columns-5 .gallery-item {
	max-width: 18%;
}

.gallery-columns-6 .gallery-item {
	max-width: 14.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 12.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 10.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 9.11%;
}

.gallery-columns-10 .gallery-item {
	max-width: 8%;
}

.gallery-caption {
	display: block;
}