body,
button,
input,
select,
textarea {
	color: $color__dark;
	font-family: $font__main;
	@include font-size(1.5);
	font-weight: $font__weight-standard;
	line-height: $font__line-height-body;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	@media screen and (min-width: 500px) and (max-width: 699px) {
		@include font-size(1.6);
	}

	@media screen and (min-width: 700px) and (max-width: 767px) {
		@include font-size(1.7);
	}

	@media screen and (min-width: 992px) {
		@include font-size(1.7);
	}
}

.single .entry-content {
	@media screen and (min-width: 1200px) {
		@include font-size(2);
	}
}

/*--------------------------------------------------------------
2.1 - Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
2.2 - General
--------------------------------------------------------------*/
@import "general";
