hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	.author-img & {
		float: left;
		margin: 7px 1em 0 0;
	}
}

figure {
	margin: 0;
}

@import "tables";