table {
	margin: 0 0 1.5em;
	width: 100%;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

table > tbody + tbody {
	border-top: 2px solid #dddddd;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

td#next {
	text-align: right;
}

th {
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: 1px solid #ddd;
		margin: 0 0 1.5em;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive table {
		margin: 3px;
	}
	.table-responsive th,
	.table-responsive td {
		white-space: nowrap;
	}
}