#scroll-to-top {
	background: $color__background-main-nav;
	display: none;
	height: 50px;
	position: fixed;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 50px;
	z-index: 2000;

	.admin-bar & {
		@media screen and (min-width: 783px) {
			top: 32px;
		}
	}

	.no-js & {
		display: block;
	}

	.has-logo & {
		height: 60px;
		width: 60px;
	}

	.bright-navbar & {
		background: $color__background-main-nav-bright;
	}

	&:before {
		color: $color__text-main-nav;
		content: "\e003";
		font-family: "penguin-icon-font" !important;
		font-size: 26px;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 50px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		.bright-navbar & {
			color: $color__text-main-nav-bright;
		}

		.has-logo & {
			line-height: 60px;
		}
	}
}