a {
	color: $color__primary;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover,
	&:active {
		color: $color__dark;
		outline: 0;
	}
	&:focus {
		background: $color__bright;
		outline: thin solid $color__primary;
	}

	p & {
		font-weight: $font__weight-bold;
	}

	.btn & {
		background-color: $color__bg-btn;
		color: $color__dark;
		display: inline-block;
	}
	.btn-sm & {
		padding: 2px 8px;
	}
	.btn-lg & {
		padding: 12px 16px;
	}
	.btn &:hover,
	.btn &:focus,
	.btn &:active {
		background-color: $color__primary;
		color: #fff;
	}
}

.page-links {
	border-top: 1px solid #cdcdcd;
	clear: both;
	margin: 1.5em 0 .5em;
	padding-top: 5px;
}