a {
	border-bottom: 1px solid;
	color: $color__primary;
	text-decoration: none;

	&:hover,
	&:active {
		border-bottom: none;
		color: $color__dark;
		outline: 0;
	}
	&:focus {
		background: $color__bright;
		border-bottom: none;
		outline: thin solid $color__primary;
	}

	.site-title &,
	.entry-title &,
	.format-link &,
	.nav-menu &,
	.nav-links &,
	.post-thumbnail & {
		border-bottom: none;
	}
	
	img {
		vertical-align: bottom;
	}

	.btn &,
	.footer-menu & {
		background-color: $color__bg-btn;
		border-bottom: none;
		color: $color__dark;
		display: inline-block;
	}
	.btn-sm &,
	.footer-menu & {
		padding: 2px 8px;
	}
	.btn-lg & {
		padding: 12px 16px;
	}
	.btn-outline & {
		background-color: transparent;
		border: 1px solid $color__primary;
		color: $color__primary;
	}
	.btn &:hover,
	.btn &:focus,
	.btn &:active,
	.footer-menu &:hover,
	.footer-menu &:focus,
	.footer-menu &:active {
		background-color: $color__primary;
		color: #fff;
	}
	.btn-colored & {
		background-color: $color__primary;
		color: #fff;
	}
	#page .btn-colored &:hover,
	#page .btn-colored &:focus,
	#page .btn-colored &:active {
		background-color: $color__dark;
	}
}

.page-links {
	border-top: 1px solid #cdcdcd;
	clear: both;
	margin: 1.5em 0 .5em;
	padding-top: 5px;
}