#site-navigation {
	background: $color__background-main-nav;
	@include box-sizing(border-box);
	clear: both;
	color: $color__text-main-nav;
	display: block;
	height: auto;
	position: relative;
	width: 100%;

	.has-headerimg & {

		@media screen and (min-width: 600px) {
			position: absolute;
			z-index: 1000;
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		float: left;
		position: relative;
	}

	a {
		color: #fff;
		display: block;
		font-size: .8em;
		height: 50px;
		line-height: 50px;
		text-decoration: none;

		&:hover {
			background-color: white;
			color: $color__link;
		}
	}

	.menu-item-has-children a:after {
		content: '\e004';
		font-family: 'penguin-icon-font';
		font-size: .75em;
		line-height: 1;
		padding-left: 7px;
		speak: none;
		text-align: right;
		vertical-align: text-bottom;
	}

	.menu-item-has-children ul a:after {
		content: none;
	}

	.site-title {
		float: left;
		margin: 0;

		a {
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-right: 5px;
			padding-left: 0;

			&:hover {
				color: $color__link;
				background-color: transparent;
			}
		}
	}

	.skip-link {
		color: black;
		line-height: 1.5;
	}

	.current_page_item > a,
	.current-menu-item > a {
		background-color: $color__background-main-nav-current;
		color: white !important;
		font-weight: bold;
	}

	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: bold;
	}
}

.menu-search .penguin-search-icon,
.menu-search .search-submit {
	display: none;
}

.menu-toggle {
	cursor: pointer;
	display: none;
	font-size: 26px;
	padding-top: 10px;
}

@media screen and (max-width: 600px) {

	.menu-toggle,
	#site-navigation.toggled .nav-menu {
		display: block;
		float: right;
	}

	#site-navigation {

		ul {
			display: none;
			max-height: 100%;
			overflow-y: scroll;
			text-indent: .5em;

			ul {
				display: block;
				text-indent: 1.5em;
			}
		}

		li {
			border-top: 1px solid rgba(255,255,255,0.5);
			display: block;
			width: 100%;

			&:last-of-type {
				border-bottom: none;
			}
		}
	}

	#masthead {

		.menu-item-has-children a:after {
			position: absolute;
			right: .5em;
			top: 23px;
		}

		.menu-search {
			padding: 5px 16px 5px 0;

			.search-field {
				@include box-sizing(border-box);
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 601px) {

	#site-navigation {

		a {
			padding-left: 12px;
			padding-right: 12px;
		}

		ul ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 50px;
			left: -999em;
			z-index: 99999;

			li {
				background-color: $color__background-main-nav;
			}

			a {
				overflow: hidden;
				width: 250px;
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	#masthead {

		.menu-search {
			display: block;
			float: right;
			height: 50px;
			position: relative;
			min-width: 25px;
			z-index: 2000;

			.has-logo & {
				margin: 5px 0;
			}

			.search-field {
				background-color: transparent;
				border-width: 0px;
				cursor: pointer;
				position: absolute;
				right: 0;
				text-indent: 25px;
				@include transition(all, 0.2s, ease-in-out);
				width: 0;

				&:focus {
					background-color: white;
					border-width: 1px;
					text-indent: 0;
					width: 220px;
				}
			}

			.penguin-search-icon {
				display: block;
				font-size: 25px;
				position: absolute;
				top: 11px;
			}
		}
	}
}