#site-navigation {

	.bright-navbar & {
		background: $color__background-main-nav-bright;
		color: $color__text-main-nav-bright;
	
		a {
			color: $color__text-main-nav-bright;
		}

		a:hover {
			background-color: $color__background-main-nav-hover-bright;
			color: $color__link;
		}

		.current_page_item > a,
		.current-menu-item > a {
			background-color: $color__background-main-nav-current;
		}

		.site-title a {
			color: $color__text-main-nav-bright;
		}

		.site-title a:hover {
			background-color: transparent;
			color: $color__link;
		}
	}

	.has-logo & a {
		height: 60px;
		line-height: 60px;
	}

	.site-logo {
		float: left;
		height: 60px;
		margin-right: 20px;
		padding: 5px;

		&:hover {
			background-color: transparent;
		}

		img {
			max-height: 50px;
		}
	}
}

.has-logo .menu-toggle {
	padding-top: 15px;
}

@media screen and (max-width: 600px) {

	#site-navigation {

		.bright-navbar & li {
			border-top: 1px solid rgba(0,0,0,0.5);
		}

		.has-logo & .nav-menu {
			margin-top: .5em;
		}

		.has-logo & li a {
			height: 50px;
			line-height: 50px;
		}
	}
}

@media screen and (min-width: 601px) {

	#site-navigation {

		ul ul {

			.has-logo & {
				top: 60px;
			}

			li {

				.bright-navbar & {
					background-color: $color__background-main-nav-bright;
				}
			}
		}
	}
}