.aligncenter,
.alignleft,
.alignright {
	clear: both;
	@include center-block;
}

@media screen and (min-width: 600px) {
	.alignleft {
		clear: none;
		display: inline;
		float: left;
		margin-right: 1.5em;
	}

	.alignright {
		clear: none;
		display: inline;
		float: right;
		margin-left: 1.5em;
	}
}